@font-face {
    font-family: 'Minecraft-Regular';
    src:url('Minecraft-Regular.ttf.woff') format('woff'),
        url('Minecraft-Regular.ttf.svg#Minecraft-Regular') format('svg'),
        url('Minecraft-Regular.ttf.eot'),
        url('Minecraft-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

body {
  padding-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Minecraft-Regular', Fallback, sans-serif;
	padding-top: 10px;
	padding-bottom: 10px;
}

p, code {
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.starter-template {
  text-align: center;
}

.page-element {
  padding-top: 60px;
  padding-bottom: 80px;
}

.page-element:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 80px;
    padding: 0;
    margin: 0;
    left: 0;
    background-image: url(thin.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}



.blue-bg {
  background-color: #346896;
}

.black-bg {
  background-color: #353535;
  color: white;
}

.cite-div {
margin: 5px;
padding: 5px;
border: 2px dashed black;
background-color: light-green;
color: black;

}

